@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");

.app-main {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.player-container {
  text-align: center;
  font-family: "Aldrich", system-ui;
  background-color: #d87dcb;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.player-container:hover {
  background-color: #d87d9d;
}

.player-card {
  width: 100%;
  height: 50vh;
  background-color: #d87dcb;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  -moz-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.player-main {
  padding: 10px;
  position: absolute;
  top: 50%;
}

.control-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  gap: 20px;
}

.icons:hover {
  color: #7dd88a !important;
  cursor: pointer;
}

.activeSong-name {
  font-family: "Aldrich", system-ui;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0);
}

.activeArtist-name {
  font-family: "Aldrich", system-ui;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translate(-50%, 0);
}
